amqp==1.4.9
anyjson==0.3.3
attrs==19.3.0
Automat==20.2.0
billiard==3.3.0.23
celery==3.1.25
cffi==1.14.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.2
Django==1.11.29
django-celery==3.2.1
django-dynamic-scraper==0.13.2
future==0.17.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jsonpath-rw==1.4.0
kombu==3.0.37
lxml==4.5.0
parsel==1.6.0
Pillow==5.4.1
ply==3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pytz==2020.1
queuelib==1.5.0
Scrapy==1.5.2
scrapy-djangoitem==1.1.1
scrapy-splash==0.7.2
scrapyd==1.2.1
service-identity==18.1.0
six==1.14.0
Twisted==20.3.0
w3lib==1.22.0
zope.interface==5.1.0
