[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-djangoitem = "*"
scrapy-splash = "*"
scrapyd = "*"
jsonpath-rw = "*"
kombu = "*"
celery = "*"
django-celery = "*"
future = "*"
attrs = "*"
Django = "*"
Scrapy = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
